bdHotels/src/conf/xml-resources/web-service-references/ReservationWS/wsdl/localhost_8084/hotelSantamaria/ReservationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://reservation.services.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://reservation.services.org/" name="ReservationWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://reservation.services.org/" schemaLocation="http://localhost:8084/hotelSantamaria/ReservationWS?xsd=1" />
</xsd:schema>
</types>
<message name="serachForRoom">
<part name="parameters" element="tns:serachForRoom" />
</message>
<message name="serachForRoomResponse">
<part name="parameters" element="tns:serachForRoomResponse" />
</message>
<message name="searchBranch">
<part name="parameters" element="tns:searchBranch" />
</message>
<message name="searchBranchResponse">
<part name="parameters" element="tns:searchBranchResponse" />
</message>
<message name="GiveBooking">
<part name="parameters" element="tns:GiveBooking" />
</message>
<message name="GiveBookingResponse">
<part name="parameters" element="tns:GiveBookingResponse" />
</message>
<portType name="ReservationWS">
<operation name="serachForRoom">
<input wsam:Action="http://reservation.services.org/ReservationWS/serachForRoomRequest" message="tns:serachForRoom" />
<output wsam:Action="http://reservation.services.org/ReservationWS/serachForRoomResponse" message="tns:serachForRoomResponse" />
</operation>
<operation name="searchBranch">
<input wsam:Action="http://reservation.services.org/ReservationWS/searchBranchRequest" message="tns:searchBranch" />
<output wsam:Action="http://reservation.services.org/ReservationWS/searchBranchResponse" message="tns:searchBranchResponse" />
</operation>
<operation name="GiveBooking">
<input wsam:Action="http://reservation.services.org/ReservationWS/GiveBookingRequest" message="tns:GiveBooking" />
<output wsam:Action="http://reservation.services.org/ReservationWS/GiveBookingResponse" message="tns:GiveBookingResponse" />
</operation>
</portType>
<binding name="ReservationWSPortBinding" type="tns:ReservationWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="serachForRoom">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchBranch">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GiveBooking">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ReservationWSService">
<port name="ReservationWSPort" binding="tns:ReservationWSPortBinding">
<soap:address location="http://localhost:8084/hotelSantamaria/ReservationWS" />
</port>
</service>
</definitions>